<section class="ae-container-fluid ae-container-fluid--full"
 *ngIf="productoActual">
    <header [ngStyle]="{'background-image': 'url(assets/productos/'+ id +'/main.jpg)'}"
    class="rk-portfolio-cover">
      <div class="item-inside__meta">
        <h1 class="ae-u-bolder rk-portfolio-title ">{{productoActual.producto}}</h1>
        
      </div>
    </header>
    <div class="ae-container-fluid">
      <div class="ae-grid ae-grid--collapse rk-portfolio-info ">
        <div class="ae-grid__item item-lg-8 item-sm--center au-xs-ta-center au-lg-ta-left">
          <h2 class="rk-portfolio-inner-title ">{{productoActual.producto}}</h2>
          <p class="ae-theta rk-portfolio-category ">{{productoActual.categoria}}</p>
        </div>
        
      </div>
    </div>
    <div class="ae-container-fluid ae-container-fluid--inner rk-portfolio--inner">
      <div class="ae-grid ae-grid--collapse au-xs-ptp-1">
        <div class="ae-grid__item item-lg-5 au-lg-ptp-1">
          <h4 class="ae-u-bolder">{{productoActual.subtitulo1}}</h4>
          <p class="ae-eta">{{productoActual.desc1}} </p>
        </div>
        <div class="ae-grid__item item-lg-6 item-lg--offset-1"><img src="assets/productos/{{ id }}/pic-1.jpg" alt="Urku Portfolio"></div>
      </div>
      <div class="ae-grid ae-grid--collapse">
        <div class="ae-grid__item item-lg-8"><img src="assets/productos/{{ id }}/pic-2.jpg" alt="Urku Portfolio"></div>
        <div class="ae-grid__item item-lg-3 item-lg--offset-1 au-lg-ptp-1">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>
      </div>
      
    </div>
  </section>