
    <section  class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
      <div *ngIf="productosServiceIdx.cargando" class="contenerLoading">
        <h6>Cargando...</h6>
        <div class="lds-dual-ring"></div>
        
      </div>
      

      <div  *ngIf="!productosServiceIdx.cargando" class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4 ">
        <a *ngFor="let producto of productosServiceIdx.productos" 
        routerLink="/item/{{producto.cod}}" class="rk-item ae-masonry__item animated fadeIn">
          <img src="assets/productos/{{producto.url}}.jpg" alt="{{producto.titulo}}">
          <div class="item-meta">
            <h2>{{producto.titulo}}</h2>
            <p>{{producto.categoria}}</p>
          </div>
        </a>
      </div>
     
  </section>